name: Python Selenium Workflow

on:
  push:
    branches:
      - fail_get_url_fail_page_error

jobs:
  selenium_job:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium webdriver-manager

      - name: Install Firefox Browser
        run: |
          choco install firefox

      - name: Run Selenium script
        run: python capture_page.py

      - id: commit
        name: Commit files
        run: |
          git config --local user.name "action-user"
          git pull
          git config --local user.email "actions@github.com"
          git add -A
          git commit -m "Update Data"
          git push origin testing_page
        env:
          REPO_KEY: ${{ secrets.GITHUB_TOKEN }}
          username: github-actions
