name: Actualizar Trabajos - Diario

on:
  push:
    branches:
      - workflow

jobs:
  Scrapper:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Chequear
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install Dependencies
        run: pip install pipenv; pipenv install

      - name: Instalar Chromium
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser
          sudo apt-get install chromium-chromedriver

      - run: python .\works.py --n_reg=24 --local=0

      - id: commit
        name: Commit  files
        run: |
          git config --local user.name "action-user"
          git pull
          git config --local user.email "actions@github.com"
          git add ./data/
          git commit -m "Update Data"
          git push origin workflow
        env:
          REPO_KEY: ${{ secrets.GITHUB_TOKEN }}
          username: github-actions
