name: Actualizar Trabajos - Diario
on:
  push:
    branches:
      - wf_windows
jobs:
  Scrapper:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Chequear
        uses: actions/checkout@v4
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Instalar Chrome y ChromeDriver
        run: |
          choco install googlechrome
          choco install chromedriver
      - name: Ejecutar script Python
        run: python works.py --n_reg=24 --local=0
      - name: Commit files
        run: |
          git config --local user.name "action-user"
          git config --local user.email "actions@github.com"
          git add -A
          git commit -m "Update Data" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: workflow
